html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* body {
  background-color: rgb(34, 37, 38);
} */

#root {
  display: flex;
}

#main-canvas {
  border: black solid 1px;
  margin-top: 25px;
  margin-left: 50px;
}
